.buttonsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 24px;
}

.responseContainer {
    display: flex;
    flex-direction: row;
}

.imageContainer {
    margin-right: 50px;
    width: 500px;
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    width: 510px;
}

.code {
    margin-bottom: 13px;
}

.text {
    font-size: 16px;
    line-height: 20px;
}
.info {
    font-size: 16px;
    line-height: 20px;
}